<div class = "columns is-centered mt-6">
    <div class = "column is-half">
        <% @articles.each do |article| %>
        <article class="media">
        
            
            <div class="media-content">
                <div class="content">
                    <p>
                    <span class = "is-size-4"><strong><%= article.name %></strong></span> <small><%="Article # #{article.id}" %></small>
                    <br>
                    <%= article.body %>
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <%= link_to 'Edit', edit_article_path(article), class: "button is-small" %>
                        </div>
                        <div class="level-item">
                            <%= link_to 'Show', show_article_path(article), class: "button is-small" %>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="media-right">
            <%= link_to 'Delete', delete_article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" %>
            </div>
            
        </article> 
        <% end %>
    </div>
</div>