<div class = "columns is-centered mt-6">
    <div class = "column is-half">
        <h1 class = "is-size-2 has-text-weight-bold mb-3">New Article</h1>

        <%= form_with scope: :article, url: create_article_path, local: true do |f| %>

            <p>
                <% if @article.errors.any? %>
                    <ul>
                        <% @article.errors.full_messages.each do |message| %>
                            <li>
                                <%= message%>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </p>
            <br>

            <div class = "field">
                <div class = "control">
                    <%= f.label :title %>
                    <%= f.text_field :name, class: "input" %>
                </div>
            </div>

            <div class = "field">
                <div class = "control">
                    <%= f.label :body %>
                    <%= f.text_area :body, class: "textarea", style: "margin: 0px; width:583.6px; height: 300px;" %>
                </div>
            </div>

            <div class = "field">
                <div class = "control">
                    <%= f.submit :Submit, class: "button" %>
                    <%= link_to 'Back to Articles', articles_path, class: "button" %>
                </div>
            </div>

        <% end %>

        
    </div>
</div>